html, body {
    margin:0;
    padding:0;
    background-color: rgb(234, 227, 227);
}

.header{
    display: flex;
    color: white;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-bottom: 50px;
    padding: 0;
    background-color: #80A4ED;
}

.bodyBelowHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.button-container{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

button{
        display: inline-block;
        border: 10;
        padding: 1rem 2rem;
        border-radius: 20px;
        margin: 0;
        text-decoration: none;
        background: white;
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, 
                    transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
}

.scoreboard{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 70px; 
    padding-right: 40px; 
    padding-left: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    resize: none ;
}

